@tailwind base;
@tailwind components;
@tailwind utilities;

#cursorCircle {
    z-index: 9998;
    mix-blend-mode: multiply;
    pointer-events: none;
    left: -100px;
    top: -100px;
    background: rgba(12, 219, 234, 0.61);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 187, 255, 0.468);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
}

#cursorCC {
    z-index: 9999;
    mix-blend-mode: difference;
    pointer-events: none;
    left: -85px;
    top: -85px;
}

#svgCursor {
    z-index: 9997;
}

.sparkle-ball {
    background: radial-gradient(circle,
            #ffffff 0%,
            #3b82f6 50%,
            #8b5cf6 100%);
    box-shadow: 0 0 10px #ffffff, 0 0 20px #3b82f6, 0 0 30px #8b5cf6;
    animation: pulse 2s infinite;
}

.sparkle-tail {
    animation: sparkle 1.5s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px #ffffff, 0 0 20px #3b82f6, 0 0 30px #8b5cf6;
    }

    50% {
        box-shadow: 0 0 20px #ffffff, 0 0 30px #3b82f6, 0 0 40px #8b5cf6;
    }

    100% {
        box-shadow: 0 0 10px #ffffff, 0 0 20px #3b82f6, 0 0 30px #8b5cf6;
    }
}

@keyframes sparkle {
    0% {
        stroke-dasharray: 0 50;
        stroke-width: 2;
    }

    50% {
        stroke-dasharray: 25 50;
        stroke-width: 3;
    }

    100% {
        stroke-dasharray: 50 50;
        stroke-width: 2;
    }
}

#messageBar::-webkit-scrollbar {
    display: none;
}